management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka
    register-with-eureka: true
    fetch-registry: true