server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://db:5432/mydb
    username: adm
    password: adm
  
  jpa:
    hibernate: 
      ddl-auto: update
    show-sql: true
    properties: 
      hibernate: 
        dialect: org.postgresql.Driver

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

logging:
  level:
    org.springframework.security: INFO
    org.springframework.amqp: INFO